.up-logo img {
  width: 170px;
  max-width: 100%;
  display: block;
}

main > section:first-of-type {
  text-align: center;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 0.2em;
}

h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.15em;
  font-weight: 400;
  margin: 0.2em;
}

#main-results-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  color: white;
}

#main-results-section > div {
  text-align: center;
  width: 100%;
  margin-top: 8%;
}

#percentage-correct-answers,
#percentage-wrong-answers {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#main-results-section article:first-of-type p:first-of-type,
#main-results-section article:nth-of-type(3) p:first-of-type {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  font-weight: 400;
}
#number-correct-answers,
#number-wrong-answers {
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}

#main-results-section article:nth-last-of-type(2) {
  text-align: center;
}

#main-results-section article:nth-last-of-type(2) p:first-of-type {
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  color: white;
  margin: 0.2em;
}

#main-results-section article:nth-child(2) > p:last-of-type {
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  color: #00ffff;
  margin: 0.2em;
}

#main-results-section article:nth-child(2) div p:first-of-type,
#main-results-section article:nth-child(2) div p:last-of-type {
  font-family: "Inter", sans-serif;
  font-size: 0.5em;
  color: white;
  font-weight: 400;
}

#main-results-section article:nth-child(2) div {
  margin-top: 0.8em;
}

.button-rateus {
  padding: 0.6em 2.5em;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  box-shadow: 0px 0px 20px #3a1656;
  cursor: pointer;
  outline: none;
}
